scopeName: 'source.denizenscript'
name: 'DenizenScript'
fileTypes: [
    'dsc'
]
patterns: [
    {
        include: '#comments'
    }
    {
        include: '#keys'
    }
    {
        include: '#commands'
    }
    {
        include: '#double_quotes'
    }
    {
        include: '#single_quotes'
    }
    {
        include: '#tags'
    }
    {
        include: '#tag_brackets'
    }
]
repository:
    comments:
        patterns: [
            {
                begin: '^\\s*#.*$'
                end: '\\n'
                name: 'comment.normal.denizenscript'
            }
        ]
    keys:
        patterns: [
            {
                begin: '(^[^-#\\n]*)(:)'
                end: '\\s'
                beginCaptures:
                  1:
                    name: 'entity.name.tag.denizenscript'
                  2:
                    name: 'operator.colon.denizenscript'
            }
        ]
    commands:
        patterns: [
            {
                begin: '(-)\\s([^\\s]+)'
                captures:
                    1:
                      name: 'operator.dash.denizenscript'
                    2:
                      name: 'keyword.command.denizenscript'
                end: '\\s'
            }
        ]
    double_quotes:
        begin: '"'
        end: '\\n|"'
        name: 'string.quoted.double.denizenscript'
        patterns: [
            {
                include: '#tags'
            }
            {
                include: '#tag_brackets'
            }
        ]
    single_quotes:
        begin: '\''
        end: '\\n|\''
        name: 'string.quoted.single.denizenscript'
        patterns: [
            {
                include: '#tags'
            }
            {
                include: '#tag_brackets'
            }
        ]
    tags:
        begin: '<'
        end: '>'
        name: 'constant.language.tag.denizenscript'
        patterns: [
            {
                include: '#tag_brackets'
            }
        ]
    tag_brackets:
        begin: '\\['
        end: '\\]'
        name: 'keyword.tag-brackets.denizenscript'
        patterns: [
            {
                include: '#tags'
            }
        ]
