scopeName: 'source.denizenscript'
name: 'DenizenScript'
fileTypes: [
    'dsc'
]
patterns: [
    {
        include: '#comments'
    }
    {
        include: '#keys'
    }
    {
        include: '#commands'
    }
    {
        include: '#strings'
    }
    {
        include: '#tags'
    }
]
repository:
    comments:
        patterns: [
            {
                begin: '^\\s*#.*$'
                name: 'comment.normal.denizenscript'
            }
        ]
    keys:
        patterns: [
            {
                begin: '^[^-#\\n]*:'
                name: 'entity.name.tag.denizenscript'
            }
        ]
    commands:
        patterns: [
            {
                begin: '^\\s*-\\s[^\\s]+\\s'
                name: 'keyword.control.denizenscript'
            }
        ]
    strings:
        patterns: [
            {
                # Double Quote
                begin: '(".*?")'
                name: 'string.quoted.double.denizenscript'
            }
            {
                # Single Quote
                begin: '(\'.*?\')'
                name: 'string.quoted.single.denizenscript'
            }
        ]
    tags:
        patterns: [
            {
                # Entire Tag
                begin: '<[^-\\s]+>'
                name: 'keyword.other.tag.denizenscript'
            }
            {
                # Brackets inside of the tag
                begin: '\\[[^\\[\\]]+\\]'
                name: 'keyword.name.type.denizenscript'
            }
        ]