scopeName: 'source.denizenscript'
name: 'DenizenScript'
fileTypes: [
    'dsc'
]
patterns: [
    {
        include: '#comments'
    }
    {
        include: '#keys'
    }
    {
        include: '#commands'
    }
    {
        include: '#strings'
    }
    {
        include: '#tags'
    }
]
repository:
    comments:
        patterns: [
            {
                begin: '^\\s*#.*$'
                end: '\\n'
                name: 'comment.normal.denizenscript'
            }
        ]
    keys:
        patterns: [
            {
                begin: '^[^-#\\n]*:'
                end: '\\s'
                name: 'entity.name.tag.denizenscript'
            }
        ]
    commands:
        patterns: [
            {
                begin: '(-)\\s([^\\s]+)'
                captures:
                    1:
                      name: 'operator.dash.denizenscript'
                    2:
                      name: 'keyword.command.denizenscript'
                end: '\\s'
            }
        ]
    strings:
        patterns: [
            {
                # Double Quote
                begin: '".*?'
                end: '\\n|"'
                name: 'string.quoted.double.denizenscript'
            }
            {
                # Single Quote
                begin: '\''
                end: '\\n|\''
                name: 'string.quoted.single.denizenscript'
                # \W'\w
            }
        ]
    tags:
        patterns: [
          # {
          #   # Tag
          #   begin: '(\\[.*?)'
          #   end: '(?<=\\])'
          #
          #   # (<|<\[|(.*(\[.+\])|.+)(>|.+>))
          #
          #   # (\[.*?(?<=\]))
          #   # (<)|(\[.*?(?<=\]))|(>)
          #   # WIP: (<)|(\[.*?(?<=\]))|.(?<=\>)|(\>)
          # }
          {
              # Tag
              begin: '<[^-\\s]'
              end: '.+>\\s|.+>'
              name: 'constant.language.tag.denizenscript'
          }
            {
              # Advanced Tag
              begin: '(<[^-:])(.+)(\\[)'
              end: '(\\])(>|.+>)'
              beginCaptures:
                1:
                  name: 'constant.language.advanced-tag.denizenscript'
                2:
                  name: 'constant.language.advanced-tag.denizenscript'
                3:
                  name: 'keyword.operator.denizenscript'
              endCaptures:
                1:
                  name: 'keyword.operator.denizenscript'
                2:
                  name: 'constant.language.advanced-tag.denizenscript'
            }
            {
              # Definition
              begin: '(<)(\\[)'
              end: '(\\])(>)'
              beginCaptures:
                1:
                  name: 'constant.language.tag.denizenscript'
                2:
                  name: 'keyword.operator.denizenscript'
              endCaptures:
                1:
                  name: 'keyword.operator.denizenscript'
                2:
                  name: 'constant.language.tag.denizenscript'
            }
            {
                # Normal tag
                begin: '<[^-\\s]'
                end: '.+>\\s|.+>'
                name: 'constant.language.tag.denizenscript'
            }
        ]
